.DS_Store

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
texput.log

# Local build scratch space
.latex-build/
900_PDF/.latex-workshop-view/

# Private-only material that AMaN_Public.tex does not include
300_BackMatter/afterword.tex
300_BackMatter/acknowledge.tex
